.news_wrapper{width:100%;min-height:500px;background:url(../images/listbg.jpg)no-repeat;background-size: 100%;}
.buesiness_bar{width:1000px;margin:0 auto;border:1px solid rgba(219, 219, 219, 0.62);border-bottom:none;}
.buesiness_bar img{width:100%;}
.wrapper_box{width:980px;min-heighT:400px;margin:0 auto;border:1px solid rgba(219, 219, 219, 0.62);background:#fff;padding-top:18px;padding-left:20px;overflow:auto;padding-bottom:10px;}
.wrapper_boxleft{width:210px;float:left;height:993px;}
.wrapper_boxleft .news_menu{width:100%;height:300px;}
.wrapper_boxleft .news_menu li{width:87%;height:35px;line-height:35px;color:#fff;padding-left:13%;background:#266B94;border-bottom:2px solid #fff;cursor:pointer;  font-size: 15px;}
.wrapper_boxleft .news_menu li a{color:#fff;}
.news_box{width:99%;height:204px;border:1px solid #ccc;border-top:3px solid #989393;}
.news_box .title{line-height:35px;height:35px;border-bottom:1px solid #ccc;padding-left:13%;font-size: 16px}
.news_box ul{margin-top: 10px;}
.news_box ul li{list-style:disc;  list-style-position: inside;width:100%;height:30px;line-height:30px;overflow:hidden;font-size: 10px; padding-left: 6%;color:gray;}
.news_box ul li a{color:gray;}
.news_box ul li a:hover{color:red;}
.wrapper_boxleft .news_r_box{width:99%;border:1px solid #ccc;border-top:none;}
.wrapper_boxrig{float:left;widtH:730px;min-height:395px;margin-lefT:19px;}
.wrapper_boxrig .tit{width:97 %;height:28px;line-height:28px;background:#F0EFF4;  font-size: 12px;padding-left:3%;}
.wrapper_boxrig .news_list{margin-left: 10px;}
.wrapper_boxrig .title_me{height:33px;line-height:33px;border-left:5px solid #006FC1;padding-left:10px;font-size:20px;  margin-left: 10px;margin-top: 15px;}
.wrapper_boxrig .news_list li{width:100%;height:56px;padding-top:19px;border-bottom:1px solid #ccc;font-size: 13px;}
.wrapper_boxrig .news_list li img{float:left;}
.wrapper_boxrig .news_list li .senten{float:left;font-weight:bold;width: 595px;height: 22px;overflow: hidden;}
.wrapper_boxrig .news_list li .senten a:hover{color:red;}
.wrapper_boxrig .news_list li .time{float:right;color:gray;}
/*业务介绍*/
.wrapper_boxrig .bussiness{width:100%;margin-top: 12px;}
.wrapper_boxrig .bussiness img{width:100%;}
.wrapper_boxrig .bussiness .gaoqing{widthL100%;height:168px;margin-top:5px;}
.gaoqing_profile{height:122px;width:365px;background:#D2D2D2;padding:29px 25px 0 25px;  line-height: 25px;float:left;margin-right:8px;font-size:13px;padding-bottom:17px;}
.channel_box{width:278px;height:71px;padding-left:28px;padding-top:13px;float:left;background:#DCDCDC;}
.channel_box .channel_tit{margin-bottom:10px;font-weight:bold;}
.channel_box .channel_de span{margin-right:25px;}
.channel_box .channel_de span a:hover{color:red;}
/*详情页面*/
.p_content{margin-top:10px;padding-left:10px;}
.p_content .title{color:#433b70;font-size:20px;font-weight:bold;padding-left: 7px;}
.xin_ti{color:gray;border-bottom:1px solid #ccc;  font-size: 12px;height:35px;line-height:35px;padding-left: 7px;}
.xin_ti span{display:inline-block;min-width:100px;float:left;margin-right:10px;}
.content_detail{padding-top: 15px;line-height: 25px;width: 96%;margin: 0 auto;min-height:400px;padding-bottom:20px;border-bottom:1px solid #ccc;}
.content_detail img{max-width:600px;}
.other_new{margin-bottom:20px;margin-top:10px;}
.other_new p{padding-left:20px;line-height:25px;}
.other_new a{font-size:13px;}
.other_new a:hover{color:rgb(54, 148, 240);}
/*业务详情*/
.menu_left{float:left;}
.menu_left li{width:210px;height:35px;background:rgb(35,99,148);border-bottom:1px solid #888787;color:#fff;text-align:center;line-height:35px;cursor:pointer;}
.menu_left li a{color:#fff;}
#menu_left li{position:relative;}
#menu_left li ul{position:absolute;}
#nav, #nav ul {
 list-style: none;
 background: #F9F9F9;
 font-weight: bold;
 padding: 0px;
 margin: 0px;
 border-bottom: 0px;
 width: 210px;
 text-align: left;
}
#nav ul ul{
 border: solid 1px #CCCCCC;
 border-bottom: 0px;
}
#nav a {
 display: block;
 width: 210px;
 w\idth: 200px;
 color: #333333;
 text-decoration: none;
 text-align: center;
 border-bottom: solid 1px #888787;
 text-align: center;
 padding-left: 10px;
  color:#fff;
}
#nav li {
 line-height: 35px;
 position: relative;
}
#nav li ul {
 position: absolute;
 left: -999em;
 width:210px;
 font-weight: normal;
 margin: 0px;
 padding: 0px;
}
#nav li li {
 width: 210px;
 background:rgb(89,143,185);}
#nav li li:hover{
 background:rgba(89, 143, 185, 0.66);}
#nav li ul a {
 width: 210px;
 w\idth: 186px;
 padding: 0px 12px;
 line-height:35px;
 text-align: left;
}
#nav li ul ul {
 margin: 0px 0 0 210px;
}
#nav li:hover ul ul,#nav li.sfhover ul ul{
 left: -999em;
}
#nav li:hover ul, #nav li li:hover ul,#nav li.sfhover ul, #nav li li.sfhover ul{
 left: auto;
}
#nav li:hover ul,#nav li.sfhover ul{
 left: 210px;
 top: 0px;
}
#nav li:hover, #nav li.sfhover {
 background:rgba(35, 99, 148, 0.82) ;
}
* html #nav li {
 float: left;
 height: 1%;
}
* html #nav li a {
 height: 1%; 
}
/*导航*/
#menu { width:210px; margin:auto;text-align:center;}
 #menu h1 { font-size:14px; margin-top:1px; background: #266B94;border-bottom:1px solid #ccc;}
 #menu h2 { font-size:14px; background:rgb(89,143,185);border-bottom:1px solid #ccc;}
/* #menu h2:hover {background:rgba(89, 143, 185, 0.66);}*/
 #menu ul {  /*height:100px;*/ border-top:none;overflow:auto; background: #266B94;}
 #menu a { display:block; text-decoration:none; overflow:hidden;height:35px;line-height:35px;color:#fff;border-bottom:1px solid #ccc;}
 #menu a:hover{ color:#fff; background:;}
 #menu .no {display:none;}
 #menu .h1 a{color:#fff;}
 #menu .h2 a{color:#fff;}
 #menu  h1 a{color:#FFF;}
/*导航*/
.business_cont{width:96%;margin:0 auto;line-height:25px;margin-top:15px;margin-bottom:20px;}
.business_cont .title{text-align:center;font-size: 16px;}
.business_cont p{text-indent:2em;}
/*公司介绍*/
.profile_cont{width:1000px;margin:0 auto;border:1px solid #ccc;border-top:none;}
.profile_mess{width:90%;margin:0 auto;  font-size: 16px;line-height: 30px;color:#6B6C6C;margin-top:25px;}
.profile_mess p{} 
.honor{width:83%;height:300px;margin:0 auto;margin-top:80px;margin-bottom:70px;}
.honor_box{width:260px;height:260px;border:1px solid #ccc;float:left;padding:5px;}
.honor_box img{width:100%;max-height:100%;display:none;}
.honor_box img:first-child{display:block;}
.honor_cont{float:left;margin-left: 50px;}
.honor_cont ul{margin-top:30px;}
.honor_cont ul li{height:25px;line-height:25px;margin:14px 0 14px 0;font-size:14px;padding:2px 5px 2px 5px;cursor:pointer;}
.honor_cont .active{background:#89D1EB;color:#fff;}
.events{height:1200px;}
.year{width:205px;height:1096px;float:left}
.year img{width:100%;}
.year_cont{width:450px;float:left;font-size:13px;margin-left:50px;  line-height: 25px;}
.year_cont p{text-indent:2em;}
/*公司介绍end*/
/*企业文化*/
.culture{width:1000px;height:1050px;background:url(../images/cluturebg.jpg)no-repeat;margin:0 auto;border:1px solid #ccc;position:relative;}
.cluture_box{width:460px;/*height:230px;*/margin:0 auto;position:absolute;bottom: 22%;left: 29%;color:#5A5A5A;overflow:hidden;}
.cluture_box ul{/*height:100%;*/}
.cluture_box ul li{float:left;/*height:230px;*/width:460px;}
.cluture_box ul li .cul_tit{font-size:40px;float:left;}
.e_tit{font-size:17px;  margin-top: -9px;}
.cul_guide{float:left;color:#5799C3;font-size:15px;font-weight:bold;  margin-top: 30px;margin-left: 10px;}
.cul_cont{float:left;margin-top:15px;line-height:25px;}
.cul_left{bottom: 26%;position: absolute;left: 6%;}
.cul_ri{position:absolute;right: 0%;bottom: 23.2%;}
/*企业文化 end*/